.discountWrapper{
	padding: 5px;
	display: flex;
	flex-direction: row;
	height: 40%;
}

.discountInput{
	width: 60%;
}

.discountButton{
	height: 100%;
	margin-left: 2px;
	border: none;
	background-color: #41fc17;
}
