body{
	background-color: white;
	color: black;
	min-height: 100%;
}
.appWrapper{
	height: 100vh;
	min-height: 100vh;
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
}

.outletContainer{
	flex-grow: 1;
}

a{
	text-decoration: none;
}

a:visited{
	color: black;
}



.control-bar-container{
	width: 6em;
	height: 100%;
}
