.cartPanelContainer{
	position: absolute;
	top: 50px;
	right: 0px;
	height: 80vh;
	width: 300px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px solid grey;
	padding: 5px;
}
.cartItemsWrapper{
	overflow-y: auto;
	/* overflow-x: scroll; */
	height: 90vh;
	width: 99%;

}
.cartItemContainer{
	padding: 5px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
	overflow-x: hidden;
}
.deleteText{
	text-decoration-line: underline;
	cursor: pointer;
}
.emptyCartIndicator{
	height: 90vh;
	color: #c9beb9;
}
.cartPanelTotalContainer{
	position: sticky;
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff1ea;

}
.disabledSubmitOrderButton{
	border: none;
	background-color: grey;
	color: white;
	height: 30%;
	width: 80%;
}
.submitOrderButton{
	border: none;
	color: white;
	background-color: black;
	height: 30%;
	width: 80%;
	cursor: pointer;
}
