
.overlay{

	position: fixed;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


.product-page-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	z-index: 2;
	overflow-y: scroll;
	height: 90%;
	padding: 10px;
	gap: 15px;
	background-color: #fcefe8;
}

.close-button{
	display: flex;
	width: 100%;
	justify-content: flex-start;
	color: black;
}

.product-page-img-container{
	display: flex;
	padding: 10px;
	justify-content: center;
	background-color: white;
	border: 3px solid white;
}

.product-page-img-container img{
	object-fit: contain;
	width: 70%;
}

.product-spotlight{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	/* width: 90%; */
}

.product-page-item-name{
	font-weight: bold;
	font-size: 15px;
	margin: 5px;

	/* border: 1px solid blue; */
}

.buying-options{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	font-size: large;
	width: 90%;
	gap: 5px;
}

.add-cart-button{
	border: none;
	height: 4em;
	width: 100%;
	background-color: black;
	color: white;
}

.cart-button-container{
	width: 90%;
}

.description{
	width: 90%;
	border: 3px solid white;
}
.product-page-counter{
	display: flex;
	margin: 10px;
	font-size: 12px;
	scale: 150%;

}
