.cartIndicator{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 15px;
	width: 15px;
	z-index: 3;
	top: 20%;
	left: 60%;
	font-size: 9px;
	color: white;
	border-radius: 25px;
	background-color: red;
	animation: 0.5s pulse;
}


@keyframes pulse{
	0%{scale: 100%}
	50%{scale: 150%}
	100%{scale: 100%}


}

