.searchbar-container{
	margin: 5px;
	padding: 5px;
	padding-right: 10px;
}

.searchbar-container a{
	color: black;
}

.searchbar-container input{
	width: 100%;
}

.search-results-container{
	height: 50px;
	width: 100%;
}


