.searchbarContainer{
	margin: 5px;
	padding: 5px;
	padding-right: 10px;
}

.searchbarContainer a{
	color: black;
}

.searchbarContainer input{
	width: 100%;
}

.searchResultsContainer{
	height: 50px;
	width: 100%;
}


