.navLinkContainer{
	color: #c9beb9;
	width: 100%;
	margin: 0;
}

.categoryLink{
	color: #c9beb9;
	display: flex;
	align-items: center;
	margin: 0;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
	width: 94%;
}
.categoryLink a{
	color: black;
}

.categoryLink:hover{
	transition: background-color 0.5s;
	background-color: #efdede;
}

.categoryLink:active{
	color: #c9beb9;
}

.navbarWrapper{
	user-select: none;
	background-color: #fcefe8;
	top: 0;
	margin: 0;
	height: 50px;
	z-index: 15;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hamburger{
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	background-color: grey;
	border-radius: 25%;
	top: 25px;
}

.hamburgerLogoGroup{
	display: flex;
	gap: 5px;
}

.storeName{
	font-size: x-large;
	color: #c9beb9;
	justify-self: flex-start;

}
.storeName a{
	color: #c9beb9;
}

.expandibleNavbar{
	color: #c9beb9;
	position: absolute;
	padding: 10px;
	top: 3em;
	background-color: #fff1ea;
	height: 100vh;
	width: 95%;
	left: 0;
	/* left: -100%; */
	/* transform: translateX(100%); */
	/* transition: transform .5s ease-in; */
	animation: slide-in 0.3s linear;
}


@keyframes slide-in {
	0%{
	transform: translateX(-100%);
	}
	100%{
	transform: translate(0%);
	}
}

@keyframes slide-out {
	0%{
	transform: translateX(-100%);
	}
	100%{
	transform: translate(0%);
	}
}

.desktopNavbarWrapper{
	user-select: none;
	background-color: #fcefe8;
	padding: 10px;
	position: sticky;
	top: 0;
	margin: 0;
	/* height: 7vh; */
	z-index: 15;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #c9beb9;
	/* width: 100%; */
	width: auto;
}

.desktopNavLinkContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-wrap: nowrap;
}

.navItems{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}



@media screen and (min-width: 800px){
	.categoryLink{
		width: auto;
	}
	.storeName{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 40px;
		height: 100%;
	}
}

.controlBarContainer{
	display: flex;
	justify-content: flex-end;
	width: 50%;
}




