.itemWrapper{
	display: flex;
	font-size: x-small;
	width: 40%;
	aspect-ratio: 4/3;
	background-color: white;
	flex-direction: column;
	margin: 5px;
	padding: 5px;
	align-items: center;
}

.itemWrapper a{
	height: 100%;
	width: auto;
	color: black
}

.itemWrapper a:active{
	color: black;
}

.imgContainer{
	padding: 5px;
	width: 100%;
	height: 90%;
}
.itemInfoContainer{
	height: 100%;
}
.imgContainer img{
	object-fit: contain;
	width: 100%;
	height: 100%;
	/* aspect-ratio: 1/1; */
}

.itemName{
	font-size: 12px;
	font-weight: bold;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.itemCategory{
	height: 20%;
}
.itemPrice{
	height: 20%;
}


.pageview{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 500px;
}

@media screen and (min-width: 800px){
.itemWrapper{
	width: 20%;
	padding: 0;
	/* height: 100%; */
}	
.itemInfoContainer{
	display: flex;
	flex-direction: column;
	height: auto;
	
}
.itemName{
	font-size: 14px;
}
.itemPrice{
	font-size: 12px;
}
.imgContainer{
	height: 100%;
	width: 100%;
}
.imgContainer img{
	object-fit: contain;
}
.imgContainer img:hover{
	object-fit: contain;
}


}
