.item-wrapper{
	display: flex;
	font-size: x-small;
	width: 40%;
	aspect-ratio: 4/3;
	background-color: white;
	flex-direction: column;
	margin: 5px;
	padding: 5px;
	align-items: center;
}

.item-wrapper a{
	height: 100%;
	width: auto;
	color: black
}

.item-wrapper a:active{
	color: black;
}

.img-container{
	padding: 5px;
	width: 100%;
	height: 90%;
}
.item-info-container{
	height: 100%;
}
.img-container img{
	object-fit: contain;
	width: 100%;
	height: 100%;
	aspect-ratio: 1/1;
}

.item-name{
	font-weight: bold;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-category{
	height: 20%;
}
.item-price{
	height: 20%;
}


.pageview{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 500px;
}

